In [80]:
import psycopg2
import pandas as pd

In [60]:
def create_database():
    ##FUNCTION TO CREATE DB
    #connection to default DB
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=mydataproject")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    #create if not exists
    cur.execute("DROP DATABASE IF EXISTS seoulbikes")
    cur.execute("CREATE DATABASE seoulbikes") 
    #close connection to postgres(default) DB
    conn.close()
    #establish connection with SeoulBikesDB
    conn = psycopg2.connect("host=127.0.0.1 dbname=seoulbikes user=postgres password=mydataproject")
    cur = conn.cursor()
    return cur, conn

In [23]:
def drop_tables(cur, connn):
    for query in drop_tables:
        cur.execute(query)
        conn.commit()

In [21]:
def create_tables(cur, conn):
    for query in create_tables:
        cur.execute(query)
        conn.commit()

In [22]:
cur, conn = create_database()

In [104]:
calendar_create = ("""CREATE TABLE IF NOT EXISTS calendar(
Date date,
Seasons Varchar(32),
Holiday Varchar(32),
FunctionngDay Boolean
)""")

In [105]:
cur.execute(calendar_create)
conn.commit()

In [106]:
bikerental_create = ("""CREATE TABLE RentalBike (
Date date,
Hours int,
RentedBikeCount int)""")

In [107]:
conn.rollback()
cur.execute(bikerental_create)
conn.commit()

DuplicateTable: relation "rentalbike" already exists

In [103]:
weather_create = ("""CREATE TABLE IF NOT EXISTS Weather ( 
Date date, 
Temperature int, 
Humidity Decimal(4,2), 
WindSpeedinmps int, 
Visibility int, 
DewPtTemp int, 
SolarRad int, 
RainfallinMM int, 
SnowfallinCM int, 
FOREIGN KEY(Date) references Calendar(Date))""")
conn.rollback()
cur.execute(weather_create)
conn.commit()

In [82]:
BikeRawData = pd.read_csv("file:///D:/DataEnggProject/SeoulBikeData.csv", encoding='unicode_escape')

In [83]:
BikeRawData.head()

,Date,Rented Bike Count,Hour,Temperature(째C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(째C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [86]:
BikeRawData.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(째C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(째C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

In [88]:
WeatherTable = BikeRawData[['Date', 'Temperature(째C)', 'Humidity(%)', 'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(째C)', 'Solar Radiation (MJ/m2)', 'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons']]
WeatherTable.head()

,Date,Temperature(째C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(째C),Solar Radiation (MJ/m2),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons
0,01/12/2017,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,0.0,Winter
1,01/12/2017,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,0.0,Winter
2,01/12/2017,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,0.0,Winter
3,01/12/2017,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,0.0,Winter
4,01/12/2017,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,0.0,Winter

In [89]:
CalendarTable = BikeRawData[['Date', 'Seasons', 'Holiday', 'Functioning Day']]

In [90]:
CalendarTable.head()

         Date Seasons     Holiday Functioning Day
0  01/12/2017  Winter  No Holiday             Yes
1  01/12/2017  Winter  No Holiday             Yes
2  01/12/2017  Winter  No Holiday             Yes
3  01/12/2017  Winter  No Holiday             Yes
4  01/12/2017  Winter  No Holiday             Yes

In [93]:
RentalTable = BikeRawData[['Date', 'Rented Bike Count', 'Hour']]
RentalTable.head()

         Date  Rented Bike Count  Hour
0  01/12/2017                254     0
1  01/12/2017                204     1
2  01/12/2017                173     2
3  01/12/2017                107     3
4  01/12/2017                 78     4

In [100]:
calinsert = ("""INSERT INTO calendar(date, seasons, holiday, functionngday)
VALUES (?,?,?,?)""")

In [102]:
to_csv('file1.csv')

AttributeError: 'str' object has no attribute 'iterrows'

In [ ]:
# \copy <table_name> from '</path/to/file/filename.csv>' delimiter ',' CSV HEADER;
# sql code to load files to tables